@import '../common/common.module';

.container {
  margin: 30px 10px 70px;

  h1 {
    padding: 50px;
    background: #07bc0c;
  }
}
.itemList {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.itemList > * {
  margin-bottom: 30px;
}
