.cardTitle {
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-top: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-left: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.img {
  max-width: 200px;
  min-width: 200px;
  max-height: 200px;
  min-height: 200px;
  border-top: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-left: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}